<header class="header">
    <div class='toggle-btn'>
        <span></span>
    </div>
    <div class="logo">
        <img src="http://placehold.it/50x50" alt="">
    </div>
    <div class="navigation-bar">
        <nav class="navbar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Career</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="settings">
        <a href="">logout</a>
    </div>
</header>