<!-- <header class="header">
    <div class="container">
        <div class='toggle-btn'>
            <span class="hamburger"></span>
        </div>
        <div class="logo">
            <a href=""><span>Logo</span></a>
        </div>
        <nav class="navbar">
            <ul>
                {% for nav in include.navigation  %}
                    <li><a href="">{{nav}}</a></li>
                {% endfor %}
            </ul>
            <div class="settings">
                <a href="">logout</a>
            </div>
        </nav>
    </div>
</header> -->

<header class='header'>
    <div class='container'>
        <div class='toggle-btn'>
            <span class='hamburger'></span>
        </div>
        <div class='logo'>
            <a href=''><span></span></a>
        </div>
        <nav class='navbar'>
            <ul>
                {% for nav in include.navigation  %}
                    <li><a href=''>{{nav}}</a></li>
                {% endfor %}
            </ul>
            <div class='settings'>
                <!-- <a href=''>Sign In</a>
                <a href=''>Sign Up</a> -->
                <button class="blue-btn sign-in">Sign In</button>
                <button class="blue-btn sign-up">Sign Up</button>
            </div>
        </nav>
    </div>
</header>