<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% if page.title %} {{page.title}} {% else %} {{ site.title }} {% endif %}
    </title>

    {% for styles in page.styles%}
        <link rel="stylesheet" href="styles/3-external/{{styles.css}}">
    {% endfor %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
</head>

