.sidebar
    overflow: scroll
    transition: all 0.5s ease
    position: absolute
    right: 100%
    background: #fff
    height: 100vh
    border-right: 1px solid #969494
    +mq(min, 768px)
        position: sticky
        display: flex
        flex-direction: column
        flex: 1
    .header
        height: 50px
        display: flex
        align-items: center
        justify-content: center
        border-bottom: 1px solid #969494
    .logo 
        width: 100%
        height: 50px
    ul 
        margin: 0
    li
        padding: 10px 0
        padding-left: 25px
        cursor: pointer
        // border-bottom: 1px solid #969494
        &:hover
            background: rgba(0,0,0,0.05)
.sidebar-show
    right: 40%
    border-right: 1px solid #969494
    transition: all 0.5s ease
    z-index: 1
.content-area-overlay
    background-color: rgba(0, 0, 0, 0.2)
    